<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="ISO-8859-1">
	<title>My registered Events</title>

	<!-- Bootstrap -->
	<link href="" rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<!--  jQuery  -->
	<script type="text/javascript" src="../static/js/jQuery/jquery-2.1.1.min.js"></script>

	<!--  Pagination Plugin  -->
	<script type="text/javascript" src="../static/js/jQuery/jquery.pagination.js"></script>
	<link rel="stylesheet" href="../static/css/pagination.css" />

	<style>
		.flex-container {
			display: flex;
			flex-direction: column;
			margin-left: 100px;
			margin-right: 100px;
			margin-top: 90px;
			height: 82vh
		}

		.flex-container > div {
			width: 100%;
			height: 28%;
			margin: 30px;
			line-height: 75px;
			font-size: 26px;
			max-height: 28%;
		}
	</style>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark d-flex flex-row">
	<a class="navbar-brand " href="/">Grouping Now</a>

	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/events">Events</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/viewGroupFromCart">Groups</a>
			</li>
			<li class="nav-item" sec:authorize="isAnonymous()">
				<a class="nav-link" href="/login">Log in</a>
			</li>
			<li class="nav-item" sec:authorize="isAuthenticated()">
				<!--  <span sec:authentication="name">-->
				<a class="nav-link" href="/userProfile"><span th:text="${user}"></span></a>
			</li>
			<li class="nav-item" sec:authorize="isAuthenticated()">
				<a class="nav-link" href="/logout">Log out</a>
			</li>
		</ul>
	</div>

	<div>
		<form class="form-inline my-md-2">
			<select class="form-select" aria-label="Default select example">
				<option selected value="0">Event</option>
				<option value="1">Group</option>
			</select>
			<input class="form-control m-2" type="text" placeholder="Search">
			<button type="button" class="btn btn-primary">Search</button>
		</form>
	</div>
</nav>

	<div class="row" style="height:18%">
		<div class="col-12">
			<h1 class="ml-5 mt-4">Events registered</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="card-deck flex-container" id="event-deck">
			</div>

			<div id="Pagination-event" class="pagination" style="display: flex;
	  justify-content: center;
	  align-items: center;
	  text-align: center;
		margin-top: 60px; margin-bottom: 80px;"></div>
		</div>
	</div>
<script>
	//??function,?????????function
	function generateEventPagination(){
		//??Event????
		var resultEntity=getPageInfoEvent();

		//??Event??
		fillEventCardDeck(resultEntity.data);

		//???????????
		generateNavigationBarEvent(resultEntity);
	}

	//??pageInfo??
	function getPageInfoEvent(){
		var res;

		$.ajax({
			url: "/myEvent/paginated",
			type: "post",
			data: {
				"pageNum": window.eventPageNum,
				"pageSize": window.eventPagesize,
				"userId":	[[${userId}]]
				//"groupId":	[[${groupId}]]
			},
			dataType: "json",
			async: false,
			success: function(response){
				res=response;
			},
			error: function(response){
				res=response;
			}
		});

		return res;
	}

	//??????
	function fillEventCardDeck(list){
		//??tbody?????
		$("#event-deck").empty();

		//???????
		$("#Pagination-event").empty();

		if(list==null || list.length==0){
			$("#event-deck").append("<tr><td colspan='4'>No data found for you</td></tr>");
			return;
		}

		for(var i=0;i<list.length;i++){
			var base64Encoded=list[i].base64Encoded;
			var eventName=list[i].eventName;
			var description=list[i].description;

			// <div className="card mb-3" style="max-width: 540px;">
			// 	<div className="row no-gutters">
			// 		<div className="col-md-4">
			// 			<img src="..." alt="...">
			// 		</div>
			// 		<div className="col-md-8">
			// 			<div className="card-body">
			// 				<h5 className="card-title">Card title</h5>
			// 				<p className="card-text">This is a wider card with supporting text below as a natural
			// 					lead-in to additional content. This content is a little bit longer.</p>
			// 				<p className="card-text"><small className="text-muted">Last updated 3 mins ago</small></p>
			// 			</div>
			// 		</div>
			// 	</div>
			// </div>

			//Image tag
			var img="<img src='data:image/jpeg;base64,"+base64Encoded+"' class='card-img-top' alt='Event Image' style='width:66%; height: 100%;'>";

			//Image Column
			var imageCol="<div className=\"col-4\" style='height:100%; width:40%'>"+img+"</div>";

			//Card Body
			var eventNameH5="<h5 class='card-title' style='height:15%'>"+eventName+"</h5>";
			var discriptionP="<p class='card-text' style='height:35%'>"+description+"</p>";
			var findDetailsA="<a href=\"#\" class=\"btn btn-primary\">Find Details</a>"

			var cardBody="<div class=\"card-body\" style='height:100%'>"+eventNameH5+discriptionP+findDetailsA+"</div>";

			//Card body Column
			var cardBodyCol="<div className=\"col-8\" style='height:100%; width:60%'>"+cardBody+"</div>";

			//Card
			var card="<div class=\"card\"><div class=\"row\" style='max-height: 100%'>"+imageCol+cardBodyCol+"</div></div>";

			$("#event-deck").append(card);
		}
	}

	//?????????
	function generateNavigationBarEvent(resultEntity){
		//??role?????
		var totalRecord=resultEntity.totalRecords;

		//????????pagination???????
		var properties={
			num_edge_entries: 1,        //?????
			num_display_entries: 3,     //?????
			callback: pageSelectCallbackEvent,       //??????????????????
			items_per_page: window.eventPagesize,
			current_page: window.eventPageNum-1,   //Pagination????pageIndex(?0?????pageNum?1??
			prev_text: "Previous",
			next_text: "Next"
		};

		$("#Pagination-event").pagination(totalRecord, properties);
	}

	//??????????????????
	function pageSelectCallbackEvent(pageIndex, jQuery){
		//??pageNum
		window.eventPageNum=pageIndex+1;

		//??????
		generateEventPagination();

		//?????????????????????????????????????????host?contextPath?
		//?????????????
		return false;
	}

	$(function() {
		window.eventPageNum = 1;
		window.eventPagesize = 3;

		//??Event????
		generateEventPagination();
	});
</script>
</body>
</html>